[submodule "altivec"]
	path = altivec
	url = git@github.com:jeffreybergier/AltivecIntelligence.git
[submodule "vienna"]
	path = vienna
	url = git@github.com:ViennaRSS/vienna-rss.git
[submodule "deps/PSMTabBarControl"]
	path = deps/PSMTabBarControl
	url = git@github.com:dorianj/PSMTabBarControl.git
